@font-face {
  font-family: Centra;
  src: url("../public/fonts/CentraNo2-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url("../public/fonts/CentraNo2-Medium.ttf");
  font-weight: 500;
}


@font-face {
  font-family: Centra;
  src: url("../public/fonts/CentraNo2-Book.ttf");
  font-weight: 400;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body{
  background-color: #0e111a;

}

.home{
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color:#07090e;
  color:#fff; 
  font-family:'Centra',sans-serif
}

h1,h2,h3,h4,h5,h6 {
  margin:0;
  padding:0;
  line-height:normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

/************ Navbar Css ************/
nav.navbar {
  padding-top: 10px;
  position: fixed;
  width:100%;
  top:0;
  z-index:9999;
  transition:0.32s ease-in-out;
}

nav.scrolled{
  padding-top:5px;
  background-color: #121212;
}

nav.navbar .navbar-logo{
  
  width:6%;
  /* padding:20px; */
  scale:2;
  /* margin-top:30px; */
  
}

.logo-image-hover {
  display: none;
}

.navbar-logo:hover .logo-image {
  display: none;
}

.navbar-logo:hover .logo-image-hover {
  display: inline-block;
  scale:1.1
}





nav.navbar .nav-link a {
  font-weight: 400;
  color:rgb(254, 255, 255);

  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 24px;
  
 
  
}

nav.navbar .nav-link a:hover
{
  color:rgb(134, 214, 214);
  
}
nav.navbar .nav-link a:active {

  color:rgb(134, 214, 214);



}
span.navbar-text {
    display: flex;
    align-items: center;
}
.social-icon {

    display: inline-block;
    margin-left: 79px;
  
}

.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 18px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icon .lin::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #22c6c1;
  border-radius: 50%;
  transform: scale(0);
transition: 0.3s ease-in-out;
}
.social-icon .fac::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #2e62db;
  border-radius: 50%;
  transform: scale(0);
transition: 0.3s ease-in-out;
}

.social-icon .ins::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ed43c5;
  border-radius: 50%;
  transform: scale(0);
transition: 0.3s ease-in-out;
}


.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.navbar-text button {
  font-weight: 700;
  color: #fff;
  
  border-top:1px solid #35BBCA ;
  border-bottom:1px solid #35BBCA ;
  border-left:1px dashed #F8D90F;
  border-right:1px dashed #F8D90F;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}

.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.navbar-text button:hover {
  color: #121212;
}

.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}

/************ Banner Css ************/

.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url('../public/images/banner-bg.jpg');
  background-position: top center;
  background-size:contain;
  background-repeat: no-repeat;
}
/* change here  */
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  /* background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%); */
  background: linear-gradient(90.21deg, rgba(27, 69, 113, 0.5) -5.91%, rgba(29, 196, 191, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}

.banner h1 {
  font-size: 85px;
  font-weight: 700;
  padding: 0px 50px;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
  
}

.wrap-head
{
  color:rgb(34, 208, 208);
}

.banner p {
  padding: 0px 50px;
  color: #efebeb;
  font-size: 28px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.banner button {
  
  color: #a39d9d;
  font-weight: 700;
  font-size: 50px;
  margin-top: 60px;
  padding-left: 20px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}


.button-connect {

  margin:64px 0 0 10px;
  width:60px;
  height: 60px;


}



.banner img.hire {
  animation: bounce 5.5s ease-in-out infinite;
}



/* Define the animation */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}


@keyframes grow-and-shrink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
 80% { transform: rotate(0deg); }
 85% { transform: rotate(5deg); }
 95% { transform: rotate(-5deg); }
100% { transform: rotate(0deg); }
}

@keyframes slide-in {
  from {
    transform: translateX(50%);
    opacity: 0.25;
  }
  to {
    transform: translateX(-20%);
    opacity: 1;
  }
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

/************ Skills Css ************/
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  gap:40px;
}

.container .card {

    position: relative;
    width:220px;
    height:250px;
    /* background:; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card .percent {
    position: relative;
    width:150px;
    height:150px;
   
    
}

.container .card .percent svg{

    position: relative;
    width:150px;
    height:150px;
    transform: rotate(270deg);

}

.container .card .percent svg circle{

    width:100%;
    height:100%;
    fill:transparent;
    stroke-width: 2;
    stroke:#191919;
    transform: translate(5px,5px);
}

.container .card .percent svg circle:nth-child(2){

stroke:var(--clr);
stroke-dasharray:440; 
stroke-dashoffset:calc(440 - (440 * var(--num)) /100);
opacity:0;
animation: fadeIn 1s linear forwards;

animation-delay: 1s;
}

@keyframes fadeIn {
    0%
    {
        opacity: 0;
    }

    100%
    {
        opacity: 1;
    }
}

.dot {
    position:absolute;
    
    inset:5px;
    z-index:10;
    transform: rotate(calc(3.6deg * var(--num)));
    animation: animateDot 1s linear forwards;
}

@keyframes animateDot {
    0%
    {
        transform:rotate(0deg);
    }

    100%
    {
        transform: rotate(calc(3.6deg * var(--num)));
    }
}

.dot::before {
    content:'';
    position: absolute;
    top:-5px;
    left:50%;
    transform: translateX(-50%);
    width:10px;
    height:10px;
    border-radius: 50%;
    background:var(--clr);
    box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr);
}

.number 
{
position: absolute;
inset:0;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
opacity:0;
animation: fadeIn 1s linear forwards;

animation-delay: 0.25s;
}

.number h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 81px;
    margin-left:20px;
    color:#fff;
    font-weight: 700;
    font-size: 2.5em;
}

.number h2 span 
{
    
    font-weight: 300;
    color:#fff;
    font-size:0.5em;

}

.number p {
    font-weight: 300;
    font-size: 0.7em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color:rgba(255,255,255,0.75)
}

.skill {
  padding: 0 0 250px 20px;
  position: relative;
}

.skill-bx {
  background:#2e2d2d5b;
  border-radius: 64px;
  text-align: center;
  padding: 40px 0px;
  margin-top:250px;
  margin-left:320px;
}


.skill h2 {
	font-size: 45px;
	font-weight: 700;
}

.skill p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 75px 0;
}

.skill-slider {
  width: 80%;
  margin: 0 auto;
  margin-left:120px;
  position: relative;
}

.skill-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}

.background-image-left {
  /* top: 28%; */
  position: absolute;
  left:-20px;
  top:0px;
  width: 40%;
  z-index: -4;
}

.color-sharp2{
  margin-bottom:200px;
  margin-right: 0px;
  
}

/************ Projects Css ************/
.project {
  padding: 80px 0;
  position: relative;
  background-color: black;
}

.project h2 {
	font-size: 45px;
	font-weight: 700;
  text-align: center;
}

.project p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}

.project .nav-pills {
  width: 92%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
}

.project .nav-pills .nav-item {
  width: 33.33333%;
}


.project .nav-pills .nav-item {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 20px;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
  
  border-right: 1px solid rgb(119, 115, 115);
}


.project .nav-pills .nav-item:focus::before,
.project .nav-pills .nav-item:active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90.21deg, #256ec1 -5.91%, #1b8686 111.58%);
  
  top: 0;
  left: 0;
  z-index: -1;
  transition: 2s ease-in-out;
  
}

.project .nav-pills .nav-item.active::before {
    width: 100% !important;
}
.project .nav-pills .nav-itemactive {
    border: 1px solid rgba(255, 255, 255, 1);
}

.nav-item#projects-tabs-tab-first {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}
.nav-item#projects-tabs-tab-second {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.nav-item#projects-tabs-tab-third {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 55px 55px 0;
}

.proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  
  margin-bottom: 24px;
}

.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #256ec1 -5.91%, #1b8686 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}

.proj-imgbx:hover::before {
  height: 100%;
}


.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}

.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}

.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}

.color-sharp2
{
  position: absolute;
  bottom:700px;
  right:-20px;
  z-index:-4;
  width:35%
}


@media only screen and (max-width: 768px) {
  .skill-bx {
    
  margin-top: 50px;
  margin-left: 0px;
  border-radius: 24px;
  padding: 20px 0;
  }

  .rashid{
    display: none;
  }

  .hire{
    display: none;
  }

  .skill-slider {
    width: 80%;
    margin: 0 auto;
    /* margin-left:70px; */
    position: relative;
  }

  nav.navbar .nav-link a {
    font-weight: 400;
    color:rgb(254, 255, 255);
    letter-spacing: 0.8px;
    padding: 0 23px;
    font-size: 26px;
    
   
    
  }
  
  }

/* -------------footer------------------ */
.footer {
  padding: 0 0 20px 0;
 
}
.footer .footer-copy{
  font-weight: 400;
  font-size: 24px;
  color: #79d7fc;
  letter-spacing: 0.5px;
  padding-top:40px ;
  padding-left: 68px;
}

.footer .footer-date
{
  font-size: 44px;
  color: #79d7fc;
  letter-spacing: 0.5px;
  padding-left:1600px;
  position:relative;
  top:-70px;
}
 

.footer-logo{
  transform: translate(120px,80px);
}

.footer-logo a img {
  scale: 4;
}

.footer-logo-image-hover{
  display: none;
}
.footer-logo:hover .footer-logo-image{
  display: none;
}

.footer-logo:hover .footer-logo-image-hover{
  display: inline-block;
}



/* ----------- */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
